/* CSS para centralizar o formulário e estilo adicional */
body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    width: 100%;
    max-width: 400px; /* Limita a largura do formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* CSS para garantir o mesmo espaçamento entre label e input */
.form-group {
    margin-bottom: 1rem; /* Espaço entre cada grupo de formulário */
}

.form-group label {
    display: block; /* Garante que o label ocupe toda a largura disponível */
    margin-bottom: 0.5rem; /* Espaçamento abaixo do label */
}

